{namespace vhs=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <f:for each="{feed}" as="feedEntry">
        <div style="border: 1px solid #efefef; margin-top:1em; margin-bottom:1em; padding:1em; padding-top:0;">
            <f:render partial="Index" arguments="{feedEntry:feedEntry}"/>
        </div>
    </f:for>

    <f:comment>
        <!--
        <f:debug>{_all}</f:debug>
        <f:debug>{feed}</f:debug>
        <f:debug>{settings}</f:debug>
        -->
    </f:comment>

</f:section>